## Importing Libraries

In [30]:
import pandas as  pd
import numpy as np

## Importing Data

In [31]:
df=pd.read_csv('../DataSets/Advertising.csv')
df

     productid     TV  radio  newspaper  sales
0         1.77  230.1   37.8       69.2   22.1
1         2.00   44.5   39.3       45.1   10.4
2         3.00   17.2   45.9       69.3    9.3
3         4.00  151.5   41.3       58.5   18.5
4         5.00  180.8   10.8       58.4   12.9
..         ...    ...    ...        ...    ...
195     196.00   38.2    3.7       13.8    7.6
196     197.00   94.2    4.9        8.1    9.7
197     198.00  177.0    9.3        6.4   12.8
198     199.00  283.6   42.0       66.2   25.5
199     200.00  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

## Data-Preprocessing

In [32]:
df.isnull().sum()

productid    0
TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [33]:
df.dtypes

productid    float64
TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

In [34]:
a=df.productid

In [35]:
df=df.drop("productid",axis=1)

In [36]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

## Seperating x and y

In [37]:
x=df.drop("sales",axis=1).values
y=df.sales.values

## train_test_split

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [40]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()

In [41]:
model.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [42]:
ypred=model.predict(xtest)
print('y_prediction is:',ypred)

y_prediction is: [12.7 11.5  9.5 11.9  6.6 10.6 27.   9.7 16.6 11.5 19.6  4.8 18.  13.4
 11.2 10.1  9.4 21.5 18.  24.4 15.2 12.6  6.6 12.6 23.8 11.3 20.7 21.4
 11.6 10.3 23.8 11.7 12.6 13.4 15.9 18.  25.4 13.4 19.4  6.7]

## Evaluting the model

In [43]:
from sklearn.metrics import r2_score
rr=r2_score(ypred,ytest)
print('R2 score:',rr)

R2 score: 0.9367746584387221

In [46]:
from sklearn.metrics import mean_absolute_error, mean_squared_log_error
print("Mean_Absolute_Error:", mean_absolute_error(ytest, ypred))
print("Mean_Squared_Log_Error:", mean_squared_log_error(ytest, ypred))

Mean_Absolute_Error: 1.0375
Mean_Squared_Log_Error: 0.015609860221540057

In [51]:
from sklearn.model_selection import cross_val_score
cvv=cross_val_score(model,x,y,cv=10,scoring='r2')

In [52]:
cvv

array([0.97089921, 0.9644078 , 0.9741724 , 0.94488633, 0.93587214,
       0.95177989, 0.92802563, 0.93548146, 0.95089806, 0.97298385])

In [56]:
print("Mean_R2Score:", cvv.mean())

Mean_R2Score: 0.9529406777245454