## Importing Library

In [192]:
import pandas as pd
import numpy as np

## Importing Datasets

In [193]:
df=pd.read_csv("../DataSets/spam.csv",encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

## Data-Preprocessing

In [194]:
df.dtypes

v1            object
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [195]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [196]:
df=df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [197]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [198]:
df=df.rename(columns={'v1':'category', 'v2':'Message'})

In [199]:
df

     category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [200]:
df.shape

(5572, 2)

## Label-Encoding

In [201]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [202]:
df['category'] = label.fit_transform(df['category'])

In [203]:
df

      category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0              Will Ì_ b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

## Seperating x and y

In [204]:
x=df.Message.values
y=df.category.values

In [205]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3)

In [206]:
print(x_train.shape)

(3900,)

## Model Selection

In [207]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [208]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [209]:
feature_extraction = TfidfVectorizer(min_df = 1,stop_words='english')

In [210]:
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

# convert y_train and y_test values as integers
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [211]:

print(x_train_features)

  (0, 3051)	0.29377250073173566
  (0, 5839)	0.1629936193036503
  (0, 6355)	0.1558807617733673
  (0, 4463)	0.25613863155350935
  (0, 3431)	0.21322420382137608
  (0, 2669)	0.1467992773406004
  (0, 5923)	0.25613863155350935
  (0, 5142)	0.16010721180454363
  (0, 3466)	0.12934748264716298
  (0, 3913)	0.29377250073173566
  (0, 933)	0.2508580729996024
  (0, 6905)	0.24224909018184185
  (0, 5555)	0.2623842067100304
  (0, 5433)	0.21163062235443741
  (0, 2593)	0.2623842067100304
  (0, 1554)	0.19988276732642443
  (0, 2478)	0.22711374519304361
  (0, 2549)	0.23239430374695055
  (0, 5924)	0.29377250073173566
  (1, 3072)	0.1865177094597328
  (1, 4136)	0.1722045163692168
  (1, 4468)	0.20883030509262115
  (1, 239)	0.19895682423577737
  (1, 1619)	0.1783242740180506
  (1, 5927)	0.16325005023994915
  :	:
  (3895, 1962)	0.3492375146371
  (3896, 929)	0.6746077916779829
  (3896, 6722)	0.5760607620840338
  (3896, 1630)	0.46158241495372976
  (3897, 4963)	0.4437658514900006
  (3897, 1841)	0.41379848369481503
  (3897, 972)	0.31939846145941536
  (3897, 2843)	0.3414137800205178
  (3897, 2788)	0.4187390205558198
  (3897, 6791)	0.310771828901127
  (3897, 1920)	0.3759553704870938
  (3898, 1063)	0.38742277068230035
  (3898, 5940)	0.38742277068230035
  (3898, 1940)	0.31471469538429786
  (3898, 6803)	0.29074299785225316
  (3898, 6846)	0.30286210973993644
  (3898, 5878)	0.25811979132481
  (3898, 3915)	0.30647812448124556
  (3898, 2544)	0.32479544345533073
  (3898, 4411)	0.3596666550145977
  (3898, 3466)	0.1705815213579354
  (3899, 5661)	0.5309161233393982
  (3899, 5675)	0.5309161233393982
  (3899, 1278)	0.44509293404184225
  (3899, 4201)	0.4880045286906202

In [212]:
model = LogisticRegression()
model.fit(x_train_features, y_train)

LogisticRegression()

## prediction on training data

In [215]:
ypred=model.predict(x_train_features)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_train,ypred)
print('Accuraccy Score =',acc)

Accuraccy Score = 0.9638461538461538

## prediction on test data

In [214]:
ypred=model.predict(x_test_features)
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,ypred)
print('Accuraccy Score =',acc)

Accuraacy Score = 0.9617224880382775